* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ## Colors */
/* ### Primary */

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: speciman;
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
body {
  margin: 0;
  padding: 2rem ;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'speciman';
  background-color: var(--Violet);
}
/* Design mobile first */

header {
  display: block;
  position: relative;
  top: -20px;
}

main {
  position: relative;
  bottom: 25px;
  display: flexbox;
  display: -ms-flexbox;
  flex-direction: column;
}

main :nth-child(1)  img {
  width: 100%;
  margin: 1.5rem 0;
}

main:nth-child(2) {
  color: white;
  margin: .5rem 0;
  text-align: center;
  line-break: auto;
}

main:nth-child(2) p {
  font-size: 15px;
  opacity: .8;
  font-weight: 400;
  line-height: 1.5rem;
}


h1 {
  font-family: 'poppins';
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem ;
}

input[type=button] {

  border: none;
  background-color: white;
  text-align: center;
  color: var(--Violet);
  padding: 1rem;
  margin-top: 1.5rem ;
  width: 70%;
  border-radius: 2rem;
}

ul {
  list-style: none;
  position: relative;
  width: 100%;
  text-align: center;
}
ul li {
  display: inline-block;
}

ul li a i{
  display: block;
  color: white;
  font-size: 14px;
}

footer i {
  padding: 10px;
  margin: 0 5px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
}